  <include file="Public/header" title="登录注册"/>  
  <!-- header -->  
  <include file="Public/nav" />  
  <div class="container">
      <div class="row">
          <div class="col-xs-6 pad20">
              <h2>登录</h2>
              <hr>  
              <p style="color:#999">欢迎你回来，请您输入用户名密码</p>
              <div class="col-xs-12 login-btn">
                  <button class="btn btn-info"> <i class="fa fa-qq" style="color: white;margin:5px;"></i>
                      使用QQ账号登录
                  </button>
                  <button class="btn btn-warning mar-l-20"> <i class="fa fa-weibo" style="color: white;margin:5px;"></i>
                      使用新浪账号登录
                  </button>
              </div>
              <form enctype="multipart/form-data"  method="post" id="login">
                  <div class="form-group">
                      <label for="exampleInputEmail1">用户名/电子邮件</label>
                      <input type="text" class="form-control" name="email" placeholder="请输入用户名"  >
                  </div>
                  <div class="form-group">
                      <label for="exampleInputPassword1">用户密码</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入密码" name="password"></div>
                  <div class="checkbox ">
                      <label>
                          <input type="checkbox">记住我</label>
                      <label class="fr">
                          <a href="">忘记密码?</a>
                      </label>
                  </div>
                  <a type="button" class="btn btn-danger pad-20 mar-t-10" onclick="login.check()">安全登录</a>
              </form>

          </div>
          <div class="col-xs-6 pad20">
              <h2>新建账户</h2>
              <hr>  
              <p style="color:#999">创建一个属于你自己的账户</p>
              <form enctype="multipart/form-data"  method="post" id="register">
                  <div class="form-group">
                      <label for="exampleInputEmail1">电子邮箱</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="请输入用户名" name="email"></div>
                  <div class="form-group">
                      <label for="exampleInputPassword1">用户密码</label>
                      <input type="password" class="form-control" placeholder="请输入密码" name="password" minlength="6" maxlength="13"></div>
                  <div class="form-group">
                      <label for="exampleInputPassword1">密码确认</label>
                      <input type="password" class="form-control" placeholder="请输入密码" name="password1" minlength="6" maxlength="13"></div>
                  <a type="submit" class="btn btn-danger pad-20 mar-t-10" onclick="
                  register()">注册</a>
              </form>
              <div class="col-xs-12 mar-t-10" style="padding: 0px">
                  <h4>加入我们您将会享受前所未有的购物体验</h4>
              </div>
              <p>
                  <span class="glyphicon glyphicon-ok colorred mar-r-10"></span>
                  快捷的购物体验
              </p>
              <p>
                  <span class="glyphicon glyphicon-ok colorred mar-r-10"></span>
                  便捷的下单方式
              </p>
              <p>
                  <span class="glyphicon glyphicon-ok colorred mar-r-10"></span>
                  更加低廉的商品
              </p>
          </div>
      </div>
  </div>
   <script type="text/javascript">
    var login = {
    check : function() {
        // 获取登录页面中的用户名 和 密码
        var data=$("#login").serialize();
        var url = "/index.php/home/login/check";
        var data = data;
        // 执行异步请求  $.post
        $.post(url,data,function(result){
            if(result.status == 0) {
                return pop.error(result.message);
            }
            if(result.status == 1) {
                return pop.success(result.message, '/index.php/');
            }

        },'JSON');

    }
    }
    function register(){
        var url = "/index.php/home/Register/register";
        var data=$("#register").serialize();
         $.post(url,data,function(result){
            if(result.status == 0) {
                return pop.error(result.message);
            }
            if(result.status == 1) {
                return pop.success(result.message, '/index.php/');
            }

        },'JSON');
    }
   </script>
<include file="public/footer" />