<include file="Public/header" title="商城首页" />
<div style="margin-top:30px;position: relative ;display: block;">
	<div style="position: relative;width: min-width:1378px;">
	<div class="container" style="position: relative">
	<div style="background-color: #B1191A;position:absolute;top: 0;left:29px;z-index: 999;color: white;padding:7px 0px;width: 210px;height:46px;text-align: center">
		<h5 style="font-weight: 700;">全部商品分类</h5>
		<div style="background-color: red;width: 210px;height:90;display: block;z-index:1000;margin-top: 16px">
			<ul>
				<foreach name="navs" item="v">
					<li class="left-navs"><a href="{:U('products/index',array('class_id'=>$v['class_id']))}">{$v.classname}</a></li>
				</foreach>
			</ul>
		</div>
	</div>
	</div>
	
	<div style="border-top: 3px #B1191A solid;position:relative;top: 45px;">
		<div class="lunhuan" >
			<div id="lunhuanback">
				<p style='background-image:url(/Public/img/lunhuan.jpg);opacity: 1;filter:alpha(opacity=100);'></p>
				<p style='background-image:url(/Public/img/lunhuan1.jpg)'></p>
				<p style='background-image:url(/Public/img/lunhuan2.jpg)'></p>
				<p style='background-image:url(/Public/img/lunhuan3.jpg)'></p>
				<p style='background-image:url(/Public/img/lunhuan4.jpg)'></p>
			</div>
			<div class="lunhuan_main">
				<!-- 轮换中间区域 -->
				<div class="lunhuancenter text-center">
					<a href="javascript:void(0)" class='centergif'></a> <b class='slideUp' style='background-image:url(/Public/img/lunhuan.png);opacity:1;filter:alpha(opacity=100);top:-10px;'></b> <b></b>
					<b class='slideUp' style='background-image:url(/Public/img/lunhuan2.png);'></b>
					<b></b>
					<b class='slideUp' style='background-image:url(/Public/img/lunhuan4.png);'></b>
					<!-- 轮播的页码  开始 -->
					<ul id='lunbonum'>
						<li class='lunboone'></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
					<!-- 轮播的页码  结束 -->
				</div>
				<!-- 轮换中间区域结束 -->
			</div>
		</div>
		<div style="text-align:center;clear:both">
			<br></div>
	</div>
	</div>
</div>
<div >
<div class="container" >
	<volist name="floordata" id="x" offset="0" length="10">
		<div class="col-xs-12" style="margin-top: 30px;" >
			<div class="col-xs-12 floor-color-{$key%4+1}" >
				<div class="col-xs-2">
					<h2 style="font: bold 20px/40px 'microsoft yahei' !important;">F{$key+1}   {$x.classname}</h2>
				</div>
				<div class="col-xs-10 floor" style="padding-top:19px;">
					<ul>
						<foreach name="x.child" item="v">
							<li class="libg-{$key%4+1}">
								<a href="{:U('product/index',array('class_id'=>$v['class_id']))}" style="font-size: 14px;color: white;">{$v.classname}</a>
							</li>
						</foreach>
					</ul>
				</div>
			</div>
			<div class="col-xs-12" style="padding:20px 0px;border:1px solid #ddd;border-radius: 2px;height: 312px;">
					<volist name="x.data" id="v">
						<div class="floordata" <if condition="$key neq 0">style="border-left:1px solid #e7e7e7"<else/></if> >
							<div class="movedraw center">
								<figure class="movedraw1" style="height: 206px;padding-top: 10px;">
									<img src="{$v.img}" height="180"  width="180" alt="" />
								</figure>

								<div style="width:100%;height:36px;padding:0px 10px;">
									<a href="{:U('Productinfo/index',array('id'=>$v['id']))}">{$v.name}</a>
								</div>
								<div style="width:100%;height:18px;margin-top: 10px;" class="aad">￥{$v.price}</div>
							</div>
							<div style=""></div>
						</div>
					</volist>
				
			</div>
		</div>
	</volist>
</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    var ali=$('#lunbonum li');
    var aPage=$('#lunhuanback p');
    var aslide_img=$('.lunhuancenter b');
    var iNow=0;
    ali.each(function(index){
        $(this).mouseover(function(){
            slide(index);
        })
    });
    function slide(index){
        iNow=index;
        ali.eq(index).addClass('lunboone').siblings().removeClass();
		aPage.eq(index).siblings().stop().animate({opacity:0},600);
		aPage.eq(index).stop().animate({opacity:1},600);
        aslide_img.eq(index).stop().animate({opacity:1,top:-10},600).siblings('b').stop().animate({opacity:0,top:-40},600);
    }
	function autoRun(){
        iNow++;
		if(iNow==ali.length){
			iNow=0;
		}
		slide(iNow);
	}
	var timer=setInterval(autoRun,4000);
    ali.hover(function(){
		clearInterval(timer);
	},function(){
		timer=setInterval(autoRun,4000);
    });
})
</script>
<include file="public/footer" />